
.chooseUs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
}

.choseOne {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;



}

.line {
    width: 50%;
    border: 2px solid #1976D2;
    margin-top: 10px;
}


.why {
    text-transform: uppercase;
    font-size: 15px;
    color: #1976D2;
    background-color: rgba(71, 119, 244, 0.22);
    padding: 5px 16px;
    border-radius: 4px;
    letter-spacing: .6px;
    margin-bottom: 5px;
    font-weight: 400;
    width: 160px;

}

.choseOne .h1 {
    font-size: 38px;
    font-weight: 700;

}

.highQuality {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.highQuality:hover {
    background-color: #1976D2;

}

.highQuality:hover .shap2 {
    background-color: #ffff;
}

.shap1 {
    width: 80px;
    height: 80px;
    background-color: #a5bbf4;
    border-radius: 15px;
}

.shap2 {
    width: 80px;
    height: 80px;
    background-color: #1976D2;
    border-radius: 15px;
    transform: rotate(45deg);
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;


}

.highQuality:hover .shap2 .icon {
    color: #1976D2;
}

.highQuality .shap2 .icon {
    font-size: 34px;
    color: #fff;
    transform: rotate(-45deg);

}

.textarea {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}

.textarea .h1 {
    color: #000;
    font-size: 22px;
}

.highQuality:hover .textarea .h1 {
    color: #ffff;
}

.textarea .h2 {
    color: #000;
    font-size: 18px;

}

.highQuality:hover .textarea .h2 {
    color: #ffff;
}


/* ------------------------------------------ */
.choseTwo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}



/* ------------------------------------------------------ */
.card-container {
    display: flex;
    gap: 20px;
}

.image-display img {
    width: 100%;
    height: 550px;
    border-radius: 12px;
}


/* ------------------------- MEDIA QUERIES ------------------------- */
/* 1180px to 992px */
@media (max-width: 1180px) {
    .chooseUs {
        padding: 10px;
    }

    .choseOne {
        padding: 10px;
    }

    .slideDiv {
        height: 365px;
    }


}

/* 991px to 768px */
@media (max-width: 991px) {
    .chooseUs {
        flex-direction: column;
    }

    .choseOne {
        width: 90%;
    }

    .choseTwo {
        width: 90%;
    }

}

/* 767px to 576px */
@media (max-width: 767px) {}

/* 575px to 360px */
@media (max-width: 575px) {
    .choseOne {
        width: 100%;
    }

    .choseTwo {
        width: 100%;
    }

    .choseOne .h1 {
        font-size: 26px;
    }

    .highQuality {
        padding: 10px;
    }

    .shap1 {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .shap2 {
        width: 50px;
        height: 50px;
        border-radius: 10px;

    }
    .image-display img {
        height: 400px;
       
    }




}

@media (max-width: 440px) {

    .choseOne .h1 {
        font-size: 26px;
    }

    .textarea .h1 {
        font-size: 24px;
    }

    .choseOne .h2 {
        font-size: 15px;
    }

    .shap1 {
        width: 60px;
        height: 60px;
        border-radius: 10px;

    }

    .shap2 {
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

    .slideDiv {
        height: 250px;
    }

    .highQuality .shap2 .icon {
        font-size: 26px;


    }
    .image-display img {
        height: 350px;
       
    }


}

/* Below 360px */
@media (max-width: 360px) {}