.mainCards {
    width: 100%;
    padding: 40px;
    margin-top: 50px;

}

.section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.headings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h6 {
    text-transform: uppercase;
    font-size: 15px;
    color: #1976D2;

    background-color: rgba(71, 119, 244, 0.22);
    padding: 5px 16px;
    border-radius: 4px;
    letter-spacing: .6px;
    margin-bottom: 5px;
    font-weight: 400;
}

.outstanding {
    font-size: 38px;
    text-align: center;
    font-weight: 700;
}

/* -----------------------smallCards------------------------------- */

.smallCards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    width: 100%;

}

.card {
    position: relative;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.shap {
    width: 80px;
    height: 80px;
    background-color: #1976D2;

    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    animation: fadeIn 1s ease-out;
    transform: rotate(45deg);
}

.shap .cardicon {
    color: white;
    font-size: 36px;
    transition: transform 0.4s ease;
    transform: rotate(-45deg);
}

.card:hover .cardicon {
    transform: rotate(315deg);
}

.cardText_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

.cardText {
    font-size: 15px;
    color: #666;
    text-align: center;

}
.line{
    width: 50%;
    border: 2px solid #4777f4;
    margin-top: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --------------------------------------section 2--------------------------------- */
.section_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;

}

.h_phone_div{
    width: 50%;
     background-color: #0000


}
.headphone2{
    width: 80%;
    border-radius: 12px;

}
.textSection{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}
.sec2_text1{
    text-transform: uppercase;
    font-size: 15px;
    color: #1976D2;
    background-color: rgba(71, 119, 244, 0.22);
    padding: 5px 16px;
    border-radius: 4px;
    letter-spacing: .6px;
    margin-bottom: 5px;
    font-weight: 400;

}
.sec2_text2{
    font-size: 38px;
    font-weight: 700;
}
.sec2_text{
    font-size: 20px;
    color: #666;
    line-height: 2;
}

/* ------------------------- MEDIA QUERIES ------------------------- */
/* 1180px to 992px */
@media (max-width: 1180px) {
   

}

/* 991px to 768px */
@media (max-width: 991px) {
   
}

/* 767px to 576px */
@media (max-width: 767px) {
    .headphone2{
        width: 100%;
    }
    .sec2_text2{
        font-size: 26px;
    }
    .sec2_text{
        font-size: 16px;
    }
}

/* 575px to 360px */
@media (max-width: 575px) {
    .section_2{
        flex-direction: column-reverse;
    }
    .mainCards {
        margin-top: 45%;
    
    
    }
    .textSection{
        width: 100%;
    }
    .h_phone_div{
        width: 100%;
    }
    
 

}

@media (max-width: 440px) {
    .mainCards {
        margin-top: 70%;
    
        padding: 5px;
    
    }
    .outstanding{
        font-size: 28px;
    }
  
   
    
}

/* Below 360px */
@media (max-width: 360px) {
    .mainCards {
    
        padding: 5px;
        margin-top: 70%;
    
    }
    .outstanding{
        font-size: 26px;
    }
    .sec2_text2{
        font-size: 26px;
    }
    .sec2_text{
        font-size: 15px;
    }
    .sec2_text1{
        font-size: 15px;
    }
    .h_phone_div{
        width: 100%;
    }
    .textSection{
        width: 100%;
    }
    
   
    
}
