.navbar {
    /* background-color:#fff; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */

    position: absolute;
    top: 0;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 20px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.logo {
    width: 60%
}

.left {
    /* background-color: aqua; */
}

.right {
    /* background-color: blue; */

}

.navData {
    font-size: 18px;
    padding-left: 10px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

/* ---------------------------------------------------------- */
.shap-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.shaper {
    position: absolute;
    height: 180%;
    width: 100%;
    display: block;
    border-radius: 145px;
    background: #4777f4 none repeat scroll 0 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(35%, -30%) rotate(-35deg);
    transform: translate(35%, -30%) rotate(-35deg);
    z-index: 0;
}


.container{
    position: relative;
    max-width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.textside {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
    padding: 120px;
    position: relative;
}

.h1 {
    font-size: 72px;
}

.h4 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
}

.btn {
    margin-top: 80px;
}

.imgDiv {
    margin-top: 80px;
    width: 100%;
}

.img {
    width: 50%;
    position: relative;
  
}

/* ------------------------- MEDIA QUERIES ------------------------- */
/* 1180px to 992px */
@media (max-width: 1180px) {
   

}

/* 991px to 768px */
@media (max-width: 991px) {
    .shaper{
        height: 140%;
    }
    .h1{
        font-size: 40px;
    }
    .img{
        width: 80%;
    }
}

/* 767px to 576px */
@media (max-width: 767px) {
    .shaper{
        height: 120%;

    }
   .textside{
    padding: 35px;
   }
   .img{
    width: 80%;
}
}

/* 575px to 360px */
@media (max-width: 575px) {
    .textside{
        width: 100%;
        padding: 30px;
        margin-top: 10px;
    }
    .h1{
        font-size: 32px;
    }
    .h4{
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }
    .img{
        width: 85%;
    }
    .imgDiv{
        margin-top: 0;
    }
 

}

@media (max-width: 440px) {
   .container{
    flex-direction: column;
    margin-top: 100px;

   }
   .h1{
    font-size: 42px;
}
.img{
    width: 100%;
    padding: 10px;
}
   
    
}

/* Below 360px */
@media (max-width: 360px) {
    .container{
        flex-direction: column;
        margin-top: 100px;
    }
    .h1{
        font-size: 32px;
    }
    .img{
        width: 100%;
        padding: 10px;
    }
   
    
}